html{
    background: white;
    color: #25252a;
}
.actionButton{
    background: -webkit-gradient(linear, left top, right top, from(#3677dc), to(#9841f8));
    background: linear-gradient(to right, #3677dc, #9841f8);
    /*background: -webkit-gradient(linear, left top, right top, from(#6e89ff), to(#39c3c4));*/
    /*background: linear-gradient(to bottom right, #6e89ff, #39c3c4);*/
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 36px;
}
.roundedTextField{
    border-radius: 10px;
    background: #ffffff;
    color: black;
    text-align: center;
    border-color: #e9e9e9;
}
.roundedTextField::selection{
    border-color: #6e89ff;
}
.roundedTextField::placeholder{
    color: #d7d7d7;
}
.signIn{
    background: -webkit-gradient(linear, left top, right top, from(#6e89ff), to(#39c3c4));
    background: linear-gradient(to bottom right, #6e89ff, #39c3c4);
    color: white;
    /*border-radius: 10px;*/
    margin-top: 30px;
}
.registerButton{
    background: -webkit-gradient(linear, left top, right top, from(#ff466a), to(#c22cc4));
    background: linear-gradient(to bottom right, #ff466a, #c22cc4);
    color: white;
    border-radius: 10px;
}
@media (color-index: 48){
    html{
        background: #25252a;
        color: white;
    }
    .roundedTextField{
        border-radius: 10px;
        background: #393e44;
        color: white;
        border-color: #25252a;
    }
    .roundedTextField::placeholder{
        color: #a1a1a1;
    }

}