@font-face {
  font-family: 'Avenir LT Std 35 Light';
  font-style: normal;
  font-weight: normal;
  /*src: local('Avenir LT Std 35 Light'), url('../resources/fonts/AvenirLTStd-Light.woff') format('woff');*/
  src: local('Avenir LT Std 35 Light'), url('fonts/AvenirLTStd-Light.woff') format('woff');

}

html, body {
  background-color: #f7f7f7;
  font-family: 'Avenir LT Std 35 Light', fallback, serif;
  font-weight: normal;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
