html,
body {
  height: 100%;
}

.is-70{

  padding-top: 25px;
  max-width: 33%;
  margin-bottom: 30px;
}

.up {
  margin: -5vh;
}

.center{
  margin: auto;
}
.main{
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
  margin: auto;
}
